@keyframes logo-1 {
    0% {
      font-size:1.8559875rem;
      font-variation-settings: "wght" 650, "wdth" 100, "opsz" 7;
      height: 1.3589rem;
      
      font-size:3.6563rem;
      font-variation-settings: "wght" 355, "wdth" 59, "opsz" 28;
      height: 3.2041rem;
      
    }

    100%{
      font-size:3.6563rem;
      font-variation-settings: "wght" 355, "wdth" 59, "opsz" 28;
      height: 3.2041rem;
    }
  
  }
  @keyframes logo-2 {
    0% {
      font-size:4.5rem;
      font-variation-settings: "wght" 335, "wdth" 50, "opsz" 18;
      height: 3.2041rem;

      font-size:1.8559875rem;
      font-variation-settings: "wght" 650, "wdth" 100, "opsz" 4.25;
      height: 1.3589rem;
    }

    100% {
      font-size:1.8559875rem;
      font-variation-settings: "wght" 650, "wdth" 100, "opsz" 4.25;
      height: 1.3589rem;
    }
  }
  