---
layout: base.njk
section: post
---
<div class="page-container">
  <div class="page-container">
  <article class="cours">
<div class="intro">
<picture class="thumbnails">
      <img  loading="eager" decoding="async"  src="{{ image | url | safe }}" >
</picture>
    <h1>{{ title }}</h1>
</div>
{{ content | safe | replace("<table>", "<figure>") | replace("</table>", "</figure>")
                       | replace("<em>", "<figcaption>") | replace("</em>", "</figcaption>")
                       | replace("../","../../") | replace("•","<br>") | replace("˙","'") }}


    {% if tags %}
      <p class="tag-list">
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a class="tag" href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
      </p>
    {% endif %}

  </article>

  <nav>
    <a href="{{ '/blog/' | url }}">← View All Articles</a>
  </nav>
</div>
