h1,h2,h3,figcaption {
    font-weight: normal;
    font-family: 'helvar';}  

.cours{
    width: 75%;
    margin: 0 auto;
    .intro{
        width: 120%;
        margin-left: -10%;
        margin-top: -10%;
        position: relative;
        height: 45vw;
        overflow: hidden;
        h1 {
            position: absolute;
            left: 8%;
            bottom: 0;
            width:84%
        }
        .thumbnails{
            max-width: auto;
            position: absolute;
            left: 0%;
            top: -9.5%;
            filter: contrast(12.5);
            img{
                width: 100%;
                max-width: 100%;
                margin: 0 auto;
                filter: brightness(0.5);
            }
            &::after{
                --dot-size: 0.25vw;
                background: radial-gradient(var(--dot-size) var(--dot-size),#000,#fff);
                background-blend-mode: multiply;
                background-size: var(--dot-size) var(--dot-size);
                bottom: -100%;
                content: "";
                left: -100%;
                mix-blend-mode: screen;
                pointer-events: none;
                position: absolute;
                right: -100%;
                top: -100%;
                transform: rotate(27.5deg);
            }
        }
    }
    figure {
        margin:0 ;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 3rem;
        img{
            margin: 0;
            max-height: 100vh;
        } 
        figcaption {
            font-size: 1.0625rem;
            font-variation-settings: "wght" 740, "wdth" 100, "opsz" 4;
            line-height: 1.5em;
            margin-left: 2rem;
            margin-right: 0.165rem;
            text-wrap: nowrap;
            strong {
                font-size: 1.5rem;
                line-height: 2rem;
                font-variation-settings: "wght" 520, "wdth" 85, "opsz" 20;   
            }
            &::first-line{
                font-size: 1.88125rem;
                font-variation-settings: "wght" 475, "wdth" 50, "opsz" 4;
            }
        }
    &:nth-of-type(even) {
        flex-direction: row-reverse;
        figcaption {
            margin-right: 2rem;
            margin-left: 0.165rem;
            text-align: right;
        }
    }
    }
    p{
        font-family: antonia-variable, sans-serif;
        font-variation-settings: "opsz" 16.5714, "wght" 415;
        font-variant-numeric: oldstyle-nums;
        font-size: 2rem;
        font-feature-settings: "dlig","calt","onum";
        -webkit-hyphenate-limit-before: 4;
        -webkit-hyphenate-limit-after: 4;
        -webkit-hyphenate-limit-chars: 9 4 4;
        -webkit-hyphenate-limit-lines: 2;
        -webkit-hyphenate-limit-last: always;
        -webkit-hyphenate-limit-zone: 8%;
        -moz-hyphenate-limit-chars: 9 4 4;
        -moz-hyphenate-limit-lines: 2;
        -moz-hyphenate-limit-last: always;
        -moz-hyphenate-limit-zone: 8%;
        -ms-hyphenate-limit-chars: 9 4 4;
        -ms-hyphenate-limit-lines: 2;
        -ms-hyphenate-limit-last: always;
        -ms-hyphenate-limit-zone: 8%;
        hyphenate-limit-chars: 9 4 4;
        hyphenate-limit-lines: 2;
        hyphenate-limit-last: always;
        hyphenate-limit-zone: 8%;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        text-align: justify;
        text-align: justify!important;
        text-justify: inter-character!important;
    }
    h1{
        font-size: 5.6128rem;
        font-size: 9.08170117206rem;
        font-variation-settings: "wght" 743.5, "wdth" 71, "opsz" 30;
        line-height: .95;
        counter-reset: H2;
    }
    h2{
        &:before{
          content: counter(H2, upper-roman) "."!important;
          position: absolute;
          width: 4rem;
          text-align: right;
          left: -4.5rem;
          padding-right: .5rem;
         }
        counter-increment: H2;
        counter-reset: H3;
        font-size: 2.14375rem;
        margin-left: 0rem;
        font-variation-settings: "wght" 1000, "wdth" 100, "opsz" 4;
        text-transform: uppercase;
        position: relative;
        hyphens: auto;
    }
    h3{
        &:before{
          content: counter(H3, upper-alpha) ".";
          counter-increment: H3;
          position: absolute;
          width: 4rem;
          text-align: right;
          left: -4.5rem;
          padding-right: .5rem;
         }
        counter-reset: H4;
        font-size: 1.325rem;
        margin-left: 0rem;
        font-variation-settings: "wght" 1000, "wdth" 100, "opsz" 4;
        text-transform: uppercase;
        position: relative;
        hyphens: auto;
    }
    h4{
        font-family: antonia-variable, sans-serif;
        font-style: italic;
        font-variation-settings: "opsz" 25, "wght" 580;
        font-size: 1.4268875rem;
        font-size: 2rem;
        counter-reset: H5;
    }

}